@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply py-2 px-4 bg-gray text-black font-semibold rounded-lg shadow-md hover:bg-gray/70 text-lg 2xl:text-xl focus:outline-none focus:ring-2 focus:ring-blue/20 focus:ring-opacity-75 duration-700;
    }
    .btn-dark {
      @apply py-2 px-4 bg-black text-gray font-semibold rounded-lg shadow-md hover:bg-black/90 text-lg 2xl:text-xl focus:outline-none focus:ring-2 focus:ring-blue/20 focus:ring-opacity-75 duration-700;
    }
    .btn-yellow {
      @apply py-2 px-4 bg-yellows text-black font-semibold rounded-lg shadow-md hover:bg-black/90 hover:text-yellows text-lg 2xl:text-xl focus:outline-none focus:ring-2 focus:ring-blue/20 focus:ring-opacity-75 duration-700;
    }
    .btn-blue {
      @apply py-2 px-4 bg-blue text-black font-semibold rounded-lg shadow-md hover:bg-slate-800 hover:text-blue text-lg 2xl:text-xl focus:outline-none focus:ring-2 focus:ring-blue/20 focus:ring-opacity-75 duration-700;
    }

    .center{
      @apply flex items-center justify-center
    }
  }

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar, #descripScroll::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track , #descripScroll::-webkit-scrollbar-track{
  background-color:  #1C1B20;
}
body::-webkit-scrollbar-thumb, #descripScroll::-webkit-scrollbar-thumb{
  background-color: #36BCD1;
  border-radius: 10px;
}

.miniScroll::-webkit-scrollbar, #descripScroll::-webkit-scrollbar{
  width: 8px;
}
.miniScroll::-webkit-scrollbar-track , #descripScroll::-webkit-scrollbar-track{
  background-color:  #1C1B20;
}
.miniScroll::-webkit-scrollbar-thumb, #descripScroll::-webkit-scrollbar-thumb{
  background-color: #36BCD1;
  border-radius: 10px;
}
